@{
    Layout = null;
}
@model PM24.ViewModes.IndexView 
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
     <link rel="Shortcut Icon" href="/Images/title.ico" />
    <title>P民24小时网</title>
    <link href="~/Content/Index.css" rel="stylesheet" />
</head>
<body>
    <div id="head">
        <div id="head_top">
            <div id="head_top_left">2月2日 星期二 15:30</div>
            <div id="head_top_right">
                @if (Model.UserId != null)
                 { <label style="font-size:12px;color:#808080">欢迎:</label><a href="javascript:void(@Model.UserId)">@Model.Name</a>
                  <span class="sp_blank"></span><a href="@Url.Action("ExitLogin","User")">退出</a>
                }
                else{
                <a href="@Url.Action("Login", "User", new { reurl = Request.RawUrl })">
                登录</a><span class="sp_blank"></span><a href="@Url.Action("Logup","User")">注册</a>
            }
                

            </div>
            <div class="clear_float"></div>
        </div>
        <div id="head_logo">
            <div id="logo_min">
                <img src="~/Images/logo_min.JPG" />
            </div>
            <div id="logo_max">
                <img src="~/Images/logo_max.JPG" />
            </div>
              <div class="clear_float"></div>
        </div>
    </div>
    <div id="seek">
       <select id="seek_item"><option>网页</option><option>其它</option></select>
                     <input id="seek_txt" type="text" /><input id="seek_btn" type="button" value="搜索一下" />
    </div>
    <div id="nav"><ul id="nav_ul"><li class="li_active">导航</li><li >点评</li></ul></div>
    <div id="web">
    <div id="hot_web">
        <div id="hot_web_mid_top"><div id="hot_web_mid_top_left"><a href="javascript:void()"style="text-decoration:none">添加</a> </div>
             <div id="hot_web_mid_top_right">热门网站排名(24个星期内统计数据)</div></div>
        <div id="hot_web_left"><span>P</span></div>
        <div id="hot_web_mid">
            
            <div id="hot_web_mid_content">
                <ul id="z_rul">
                    <li><div class="z_rul_title">百度</div>
                        <div class="z_rul_line2left">声誉[111]</div>
                        <div class="z_rul_line2right">顶[111]</div>
                        <div class="z_rul_line3left">排名1</div>
                        <div class="z_rul_line3right">踩[111]</div>
                       <div class="clear_float"></div>
                    </li>
                    <li><div class="z_rul_title">淘宝</div>
                        <div class="z_rul_line2left">声誉[111]</div>
                        <div class="z_rul_line2right">顶[111]</div>
                        <div class="z_rul_line3left">排名2</div>
                        <div class="z_rul_line3right">踩[111]</div>
                       <div class="clear_float"></div>
                    </li>
                    <li><div class="z_rul_title">新浪</div>
                        <div class="z_rul_line2left">声誉[111]</div>
                        <div class="z_rul_line2right">顶[111]</div>
                        <div class="z_rul_line3left">排名3</div>
                        <div class="z_rul_line3right">踩[111]</div>
                       <div class="clear_float"></div>
                    </li>
                     <li><div class="z_rul_title">凤凰</div>
                         <div class="z_rul_line2left">声誉[111]</div>
                        <div class="z_rul_line2right">顶[111]</div>
                        <div class="z_rul_line3left">排名4</div>
                        <div class="z_rul_line3right">踩[111]</div>
                       <div class="clear_float"></div>
                     </li>
                    <li><div class="z_rul_title">网易</div>
                        <div class="z_rul_line2left">声誉[111]</div>
                        <div class="z_rul_line2right">顶[111]</div>
                        <div class="z_rul_line3left">排名5</div>
                        <div class="z_rul_line3right">踩[111]</div>
                       <div class="clear_float"></div>
                    </li>
                    <li><div class="z_rul_title">搜狐</div>
                        <div class="z_rul_line2left">声誉[111]</div>
                        <div class="z_rul_line2right">顶[111]</div>
                        <div class="z_rul_line3left">排名6</div>
                        <div class="z_rul_line3right">踩[111]</div>
                       <div class="clear_float"></div>
                    </li>
                    <li><div class="z_rul_title">百度</div>
                        <div class="z_rul_line2left">声誉[111]</div>
                        <div class="z_rul_line2right">顶[111]</div>
                        <div class="z_rul_line3left">排名7</div>
                        <div class="z_rul_line3right">踩[111]</div>
                       <div class="clear_float"></div>
                    </li>
                    <li><div class="z_rul_title">淘宝</div>
                        <div class="z_rul_line2left">声誉[111]</div>
                        <div class="z_rul_line2right">顶[111]</div>
                        <div class="z_rul_line3left">排名8</div>
                        <div class="z_rul_line3right">踩[111]</div>
                       <div class="clear_float"></div>
                    </li>
                    <li><div class="z_rul_title">新浪</div>
                        <div class="z_rul_line2left">声誉[111]</div>
                        <div class="z_rul_line2right">顶[111]</div>
                        <div class="z_rul_line3left">排名9</div>
                        <div class="z_rul_line3right">踩[111]</div>
                       <div class="clear_float"></div>
                    </li>
                     <li><div class="z_rul_title">凤凰</div>
                         <div class="z_rul_line2left">声誉[111]</div>
                        <div class="z_rul_line2right">顶[111]</div>
                        <div class="z_rul_line3left">排名10</div>
                        <div class="z_rul_line3right">踩[111]</div>
                       <div class="clear_float"></div>
                     </li>
                    <li><div class="z_rul_title">网易</div>
                        <div class="z_rul_line2left">声誉[111]</div>
                        <div class="z_rul_line2right">顶[111]</div>
                        <div class="z_rul_line3left">排名11</div>
                        <div class="z_rul_line3right">踩[111]</div>
                       <div class="clear_float"></div>
                    </li>
                    <li><div class="z_rul_title">搜狐</div>
                        <div class="z_rul_line2left">声誉[111]</div>
                        <div class="z_rul_line2right">顶[111]</div>
                        <div class="z_rul_line3left">排名12</div>
                        <div class="z_rul_line3right">踩[111]</div>
                       <div class="clear_float"></div>
                    </li>
                     <li><div class="z_rul_title">百度</div>
                        <div class="z_rul_line2left">声誉[111]</div>
                        <div class="z_rul_line2right">顶[111]</div>
                        <div class="z_rul_line3left">排名7</div>
                        <div class="z_rul_line3right">踩[111]</div>
                       <div class="clear_float"></div>
                    </li>
                    <li><div class="z_rul_title">淘宝</div>
                        <div class="z_rul_line2left">声誉[111]</div>
                        <div class="z_rul_line2right">顶[111]</div>
                        <div class="z_rul_line3left">排名8</div>
                        <div class="z_rul_line3right">踩[111]</div>
                       <div class="clear_float"></div>
                    </li>
                    <li><div class="z_rul_title">新浪</div>
                        <div class="z_rul_line2left">声誉[111]</div>
                        <div class="z_rul_line2right">顶[111]</div>
                        <div class="z_rul_line3left">排名9</div>
                        <div class="z_rul_line3right">踩[111]</div>
                       <div class="clear_float"></div>
                    </li>
                     <li><div class="z_rul_title">凤凰</div>
                         <div class="z_rul_line2left">声誉[111]</div>
                        <div class="z_rul_line2right">顶[111]</div>
                        <div class="z_rul_line3left">排名10</div>
                        <div class="z_rul_line3right">踩[111]</div>
                       <div class="clear_float"></div>
                     </li>
                    <li><div class="z_rul_title">网易</div>
                        <div class="z_rul_line2left">声誉[111]</div>
                        <div class="z_rul_line2right">顶[111]</div>
                        <div class="z_rul_line3left">排名11</div>
                        <div class="z_rul_line3right">踩[111]</div>
                       <div class="clear_float"></div>
                    </li>
                    <li><div class="z_rul_title">搜狐</div>
                        <div class="z_rul_line2left">声誉[111]</div>
                        <div class="z_rul_line2right">顶[111]</div>
                        <div class="z_rul_line3left">排名12</div>
                        <div class="z_rul_line3right">踩[111]</div>
                       <div class="clear_float"></div>
                    </li>
                     <li><div class="z_rul_title">百度</div>
                        <div class="z_rul_line2left">声誉[111]</div>
                        <div class="z_rul_line2right">顶[111]</div>
                        <div class="z_rul_line3left">排名7</div>
                        <div class="z_rul_line3right">踩[111]</div>
                       <div class="clear_float"></div>
                    </li>
                    <li><div class="z_rul_title">淘宝</div>
                        <div class="z_rul_line2left">声誉[111]</div>
                        <div class="z_rul_line2right">顶[111]</div>
                        <div class="z_rul_line3left">排名8</div>
                        <div class="z_rul_line3right">踩[111]</div>
                       <div class="clear_float"></div>
                    </li>
                    <li><div class="z_rul_title">新浪</div>
                        <div class="z_rul_line2left">声誉[111]</div>
                        <div class="z_rul_line2right">顶[111]</div>
                        <div class="z_rul_line3left">排名9</div>
                        <div class="z_rul_line3right">踩[111]</div>
                       <div class="clear_float"></div>
                    </li>
                     <li><div class="z_rul_title">凤凰</div>
                         <div class="z_rul_line2left">声誉[111]</div>
                        <div class="z_rul_line2right">顶[111]</div>
                        <div class="z_rul_line3left">排名10</div>
                        <div class="z_rul_line3right">踩[111]</div>
                       <div class="clear_float"></div>
                     </li>
                    <li><div class="z_rul_title">网易</div>
                        <div class="z_rul_line2left">声誉[111]</div>
                        <div class="z_rul_line2right">顶[111]</div>
                        <div class="z_rul_line3left">排名11</div>
                        <div class="z_rul_line3right">踩[111]</div>
                       <div class="clear_float"></div>
                    </li>
                    <li><div class="z_rul_title">搜狐</div>
                        <div class="z_rul_line2left">声誉[111]</div>
                        <div class="z_rul_line2right">顶[111]</div>
                        <div class="z_rul_line3left">排名12</div>
                        <div class="z_rul_line3right">踩[111]</div>
                       <div class="clear_float"></div>
                    </li>
                </ul>
            </div>
        </div>
        <div id="hot_web_right"><span>民</span></div>
         <div class="clear_float"></div>
         <div class="hot_web_page">首页&nbsp;上一页&nbsp;1&nbsp;2&nbsp;3&nbsp;4&nbsp;5&nbsp;下一页&nbsp;尾页</div>
    </div>
        <div id="sort_web">
             <div id="sort_web_top"><div id="sort_web_top_left"><a href="javascript:void()"style="text-decoration:none">添加</a></div><div id="sort_web_top_right">分类网站排名(24个星期内统计数据)</div>
                 <div class="clear_float"></div>
             </div>
            <div class="sort_web_content">
                <div class="sort_web_content_left">1</div>
                <div class="sort_web_content_mid">
                     <ul class="s_rul">  <li><div class="s_rul_title s_rul_name">新闻</div>
                       <div class="s_rul_title_left">声誉[199]</div>
                         <div class="s_rul_title_right">
                             <div class="s_rul_title_right1">顶[99]</div>
                         <div class="s_rul_title_right2">踩[12]</div>
                             <div class="clear_float"></div>
                         </div>
                    </li>
                        <li><div class="z_rul_title">凤凰网</div>
                        <div class="z_rul_line2left">声誉[111]</div>
                        <div class="z_rul_line2right">顶[111]</div>
                        <div class="z_rul_line3left">排名1</div>
                        <div class="z_rul_line3right">踩[111]</div>
                       <div class="clear_float"></div>
                    </li>
                          <li><div class="z_rul_title">凤凰网</div>
                        <div class="z_rul_line2left">声誉[111]</div>
                        <div class="z_rul_line2right">顶[111]</div>
                        <div class="z_rul_line3left">排名1</div>
                        <div class="z_rul_line3right">踩[111]</div>
                       <div class="clear_float"></div>
                    </li>
                          <li><div class="z_rul_title">凤凰网</div>
                        <div class="z_rul_line2left">声誉[111]</div>
                        <div class="z_rul_line2right">顶[111]</div>
                        <div class="z_rul_line3left">排名1</div>
                        <div class="z_rul_line3right">踩[111]</div>
                       <div class="clear_float"></div>
                    </li>
                          <li><div class="z_rul_title">凤凰网</div>
                        <div class="z_rul_line2left">声誉[111]</div>
                        <div class="z_rul_line2right">顶[111]</div>
                        <div class="z_rul_line3left">排名1</div>
                        <div class="z_rul_line3right">踩[111]</div>
                       <div class="clear_float"></div>
                    </li>
                          <li><div class="z_rul_title">凤凰网</div>
                        <div class="z_rul_line2left">声誉[111]</div>
                        <div class="z_rul_line2right">顶[111]</div>
                        <div class="z_rul_line3left">排名1</div>
                        <div class="z_rul_line3right">踩[111]</div>
                       <div class="clear_float"></div>
                    </li>
                         </ul> 
                </div>
                <div class="sort_web_content_right">更多>></div>
                <div class="clear_float"></div>
            </div>

             <div class="sort_web_content">
                <div class="sort_web_content_left">2</div>
                <div class="sort_web_content_mid">
                    
                     <ul class="s_rul">  <li><div class="s_rul_title s_rul_name">影视</div>
                       <div class="s_rul_title_left">声誉[199]</div>
                         <div class="s_rul_title_right">
                             <div class="s_rul_title_right1">顶[99]</div>
                         <div class="s_rul_title_right2">踩[12]</div>
                             <div class="clear_float"></div>
                         </div>
                    </li>
                        <li><div class="z_rul_title">凤凰网</div>
                        <div class="z_rul_line2left">声誉[111]</div>
                        <div class="z_rul_line2right">顶[111]</div>
                        <div class="z_rul_line3left">排名1</div>
                        <div class="z_rul_line3right">踩[111]</div>
                       <div class="clear_float"></div>
                    </li>
                          <li><div class="z_rul_title">凤凰网</div>
                        <div class="z_rul_line2left">声誉[111]</div>
                        <div class="z_rul_line2right">顶[111]</div>
                        <div class="z_rul_line3left">排名1</div>
                        <div class="z_rul_line3right">踩[111]</div>
                       <div class="clear_float"></div>
                    </li>
                          <li><div class="z_rul_title">凤凰网</div>
                        <div class="z_rul_line2left">声誉[111]</div>
                        <div class="z_rul_line2right">顶[111]</div>
                        <div class="z_rul_line3left">排名1</div>
                        <div class="z_rul_line3right">踩[111]</div>
                       <div class="clear_float"></div>
                    </li>
                          <li><div class="z_rul_title">凤凰网</div>
                        <div class="z_rul_line2left">声誉[111]</div>
                        <div class="z_rul_line2right">顶[111]</div>
                        <div class="z_rul_line3left">排名1</div>
                        <div class="z_rul_line3right">踩[111]</div>
                       <div class="clear_float"></div>
                    </li>
                          <li><div class="z_rul_title">凤凰网</div>
                        <div class="z_rul_line2left">声誉[111]</div>
                        <div class="z_rul_line2right">顶[111]</div>
                        <div class="z_rul_line3left">排名1</div>
                        <div class="z_rul_line3right">踩[111]</div>
                       <div class="clear_float"></div>
                    </li>
                         </ul> 
                </div>
                <div class="sort_web_content_right">更多>></div>
                <div class="clear_float"></div>
            </div>

             <div class="sort_web_content">
                <div class="sort_web_content_left">3</div>
                <div class="sort_web_content_mid">
                    
                     <ul class="s_rul">  <li><div class="s_rul_title s_rul_name">军事</div>
                       <div class="s_rul_title_left">声誉[199]</div>
                         <div class="s_rul_title_right">
                             <div class="s_rul_title_right1">顶[99]</div>
                         <div class="s_rul_title_right2">踩[12]</div>
                             <div class="clear_float"></div>
                         </div>
                    </li>
                        <li><div class="z_rul_title">凤凰网</div>
                        <div class="z_rul_line2left">声誉[111]</div>
                        <div class="z_rul_line2right">顶[111]</div>
                        <div class="z_rul_line3left">排名1</div>
                        <div class="z_rul_line3right">踩[111]</div>
                       <div class="clear_float"></div>
                    </li>
                          <li><div class="z_rul_title">凤凰网</div>
                        <div class="z_rul_line2left">声誉[111]</div>
                        <div class="z_rul_line2right">顶[111]</div>
                        <div class="z_rul_line3left">排名1</div>
                        <div class="z_rul_line3right">踩[111]</div>
                       <div class="clear_float"></div>
                    </li>
                          <li><div class="z_rul_title">凤凰网</div>
                        <div class="z_rul_line2left">声誉[111]</div>
                        <div class="z_rul_line2right">顶[111]</div>
                        <div class="z_rul_line3left">排名1</div>
                        <div class="z_rul_line3right">踩[111]</div>
                       <div class="clear_float"></div>
                    </li>
                          <li><div class="z_rul_title">凤凰网</div>
                        <div class="z_rul_line2left">声誉[111]</div>
                        <div class="z_rul_line2right">顶[111]</div>
                        <div class="z_rul_line3left">排名1</div>
                        <div class="z_rul_line3right">踩[111]</div>
                       <div class="clear_float"></div>
                    </li>
                          <li><div class="z_rul_title">凤凰网</div>
                        <div class="z_rul_line2left">声誉[111]</div>
                        <div class="z_rul_line2right">顶[111]</div>
                        <div class="z_rul_line3left">排名1</div>
                        <div class="z_rul_line3right">踩[111]</div>
                       <div class="clear_float"></div>
                    </li>
                         </ul> 
                </div>
                <div class="sort_web_content_right">更多>></div>
                <div class="clear_float"></div>
            </div>

             <div class="sort_web_content">
                <div class="sort_web_content_left">4</div>
                <div class="sort_web_content_mid">
                    
                     <ul class="s_rul">  <li><div class="s_rul_title s_rul_name">体育</div>
                       <div class="s_rul_title_left">声誉[199]</div>
                         <div class="s_rul_title_right">
                             <div class="s_rul_title_right1">顶[99]</div>
                         <div class="s_rul_title_right2">踩[12]</div>
                             <div class="clear_float"></div>
                         </div>
                    </li>
                        <li><div class="z_rul_title">凤凰网</div>
                        <div class="z_rul_line2left">声誉[111]</div>
                        <div class="z_rul_line2right">顶[111]</div>
                        <div class="z_rul_line3left">排名1</div>
                        <div class="z_rul_line3right">踩[111]</div>
                       <div class="clear_float"></div>
                    </li>
                          <li><div class="z_rul_title">凤凰网</div>
                        <div class="z_rul_line2left">声誉[111]</div>
                        <div class="z_rul_line2right">顶[111]</div>
                        <div class="z_rul_line3left">排名1</div>
                        <div class="z_rul_line3right">踩[111]</div>
                       <div class="clear_float"></div>
                    </li>
                          <li><div class="z_rul_title">凤凰网</div>
                        <div class="z_rul_line2left">声誉[111]</div>
                        <div class="z_rul_line2right">顶[111]</div>
                        <div class="z_rul_line3left">排名1</div>
                        <div class="z_rul_line3right">踩[111]</div>
                       <div class="clear_float"></div>
                    </li>
                          <li><div class="z_rul_title">凤凰网</div>
                        <div class="z_rul_line2left">声誉[111]</div>
                        <div class="z_rul_line2right">顶[111]</div>
                        <div class="z_rul_line3left">排名1</div>
                        <div class="z_rul_line3right">踩[111]</div>
                       <div class="clear_float"></div>
                    </li>
                          <li><div class="z_rul_title">凤凰网</div>
                        <div class="z_rul_line2left">声誉[111]</div>
                        <div class="z_rul_line2right">顶[111]</div>
                        <div class="z_rul_line3left">排名1</div>
                        <div class="z_rul_line3right">踩[111]</div>
                       <div class="clear_float"></div>
                    </li>
                         </ul> 
                </div>
                <div class="sort_web_content_right">更多>></div>
                <div class="clear_float"></div>
            </div>

             <div class="hot_web_page">首页&nbsp;上一页&nbsp;1&nbsp;2&nbsp;3&nbsp;4&nbsp;5&nbsp;下一页&nbsp;尾页</div>
        </div>
        </div>
    <div id="copyright">Copyright<span class="sp_blank"></span> @Html.Raw("@")2016<span class="sp_blank"></span>pm24.cn<span class="sp_blank"></span>|<span class="sp_blank"></span>联系我们</div>
</body>
</html>
